#container #logo{
    width: 1200px;
height: 72px;
background-color: #FEFCF8;
top: -118px;
left: 0px;
position: absolute;
}
#container #logo #navbar li{
    display: inline-block;
    margin-right: 40px;
}
#container #logo #navbar a{
    text-decoration: none;
    font-family: Work Sans;
font-size: 15px;
font-weight: 400;
line-height: 24px;
text-align: left;
color: #000;
}
#container #logo #navbar{
        top: 10px;
    left: 480px;
    position: absolute;
}
#container #logo .sing-in{
    text-decoration: none;
    color: #000;
    font-family: Work Sans;
font-size: 13px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.47999998927116394px;
text-align: center;
top: 20px;
left: 941px;
position: absolute;
}
#container #logo button{
    width: 150px;
height: 40px;
top: 10px;
left: 1020px;
border-radius: 4px;
position: absolute;
background-color: #ffffff;
font-family: Work Sans;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.36000001430511475px;
text-align: center;

}
#container #logo button:hover{box-shadow: 6px 6px 0px 0px #0F0F0F;}
#container{
    width: 1200px;
height: 640px;
top: 118px;
position: absolute;
left: 0px;
background-image: url(./img/IMAGE.png);
}
#container #text .text1{
font-family: Roboto;
font-size: 130px;
font-weight: 400;
line-height: 156px;
letter-spacing: 5.199999809265137px;
text-align: left;
top: -100px;
left: 68px;
position: absolute;
}

#container #text .text2{
    font-family: Roboto;
    font-size: 130px;
    font-weight: 400;
    line-height: 156px;
    letter-spacing: 5.199999809265137px;
    text-align: left;
    top: 20px;
    left: 290px;
    position: absolute;
    }
#container #text p{
    font-family: Work Sans;
font-size: 24px;
font-weight: 400;
line-height: 36px;
text-align: left;
position: absolute;
top: 308px;
left: 246px;
}

#container #image .img1{
    position: absolute;
    width: 72px;
height: 72px;
top: -30px;
left: 860px;
gap: 0px;
opacity: 0px;

}
#container #image .img2{
    position: absolute;
    width: 72px;
    height: 72px;
    top: 120px;
    left: 885px;
    gap: 0px;
    opacity: 0px;
    

}
#container #image .img3{
    position: absolute;
    top: 308px;
left: 60px;
}
#container #image .img4{
    position: absolute;
    top: 460px;
left: 60px;
}

#container input{
    width: 439px;
height: 54px;
top: 460px;
left: 246px;
gap: 0px;
border-radius: 4px 0px 0px 0px;
border: 1px 0px 0px 0px;
opacity: 0px;
position: absolute;
font-size: 40px;
}
#container button a{
    text-decoration: none;
    color: #000;
    font-family: Roboto;
font-size: 18px;
font-weight: 400;
line-height: 27px;
text-align: center;

}
#container button img{
    left: 20px;
    top: 3px;
    position: relative;
}
#container button{
    width: 218px;
height: 54px;
top: 590px;
border-radius: 4px;
opacity: 0px;
background-color: #EAFA35;
top: 462px;
left: 720px;
position: absolute;
}

